p,
h2 {
    margin: 0px
}

.header {
    background-color: orange;
    height: 100px;
    text-align: center;
    display: flex;
    align-items: center;
}

.footer {
    background-color: orange;
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    padding-top: 30px;
    padding-bottom: 30px;
}

.details {
    list-style: none;
}

.img-thumbnail {
    border: 2px inset;
    color: red;
}

.link-no-style,
.link-no-style:hover,
.link-no-style:visited {
    text-decoration: none;
    color: inherit;
}